[submodule "common/protobuf"]
	path = common/protobuf
	url = https://github.com/protocolbuffers/protobuf
[submodule "common/libuv"]
	path = common/libuv
	url = https://github.com/johnpatek/libuv
[submodule "common/googletest"]
	path = common/googletest
	url = https://github.com/google/googletest
