[submodule "external/protobuf"]
	path = external/protobuf
	url = https://github.com/protocolbuffers/protobuf
[submodule "external/libuv"]
	path = external/libuv
	url = https://github.com/johnpatek/libuv
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
